.bg-blue {
    background: #093E34 !important;
}
/* about us css start */
section.content-section,
section.counter-section,
section.our_tech_sect {
  margin-top: 70px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

section.counter-section {
  margin-top: 85px;
  padding-top: 70px;
  padding-bottom: 100px;
}
.impactlist.aboutcounter {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}
section.presence_sec {
  padding-top: 70px;
  margin-top: 0;
  padding-bottom: 70px;
}
section.true_leader,
section.ft_sec {
  padding-bottom: 40px;
}
/* about us css end */

/* our founder */

.reportees-list li .imgBox {
  position: relative;
  display: block;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.reportees-list li .imgBox img {
  width: 100%;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}

.reportees-list li .imgBox:nth-child(5) {
  margin-right: 0;
}

.reportees-list li .imgBox::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 62, 98, 0.6);
  content: "";
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.reportees-list li .imgBox h4 {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  padding: 0 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.reportees-list li .imgBox h4 span {
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

.reportees-list li .imgBox:hover::after {
  opacity: 1;
}

.reportees-list li .imgBox:hover h4 {
  top: 50%;
  opacity: 1;
}

.leadershipwraper:hover figure figcaption {
  margin-top: 0;
}

.has-background-white .site a.leadershipwraper {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
  background: #ffffff;
}

.has-background-white
  .site
  a.leadershipwraper:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
  outline: none;
  background: #ffffff !important;
  outline: none !important;
}

.leadershipwraper figure figcaption {
  background: rgba(23, 62, 98, 0.6);
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.leadershipwraper figure {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  overflow: hidden;
  height: calc(100% - 70px);
}

.leadershipwraper h2 span {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 14px;
}
.reportees-list li .imgBox {
  min-height: 150px;
  cursor: text;
}

.chairmainnote .chairman-photo,
.leadershipwraper figure img.leadershipwraperimg {
  width: 100%;
  height: 357px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  -o-object-position: top;
  object-position: top;
}

.leadershipwraper figure img.leadershipwraperimg {
  height: 445px;
}

.reportees-list li a img.reporteesImg {
  width: 100%; /* 214px */
  height: 214px;
  -o-object-fit: cover;
  object-fit: cover;
}
.chairmainnote .chairman-photo {
  height: 100%;
  object-fit: contain;
  margin: auto;
}

/* our presence */
section.branch_office {
  padding-top: 70px;
  padding-bottom: 70px;
}

.contactform div.wpforms-container-full .wpforms-form .wpforms-field-label {
  display: none;
}

.contactform div.wpforms-container-full .wpforms-form input,
.contactform div.wpforms-container-full .wpforms-form textarea {
  line-height: 1.5 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border-radius: 0.25rem !important;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out !important;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out !important;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out !important;
  max-width: 100% !important;
  padding: 10px;
  border: 1px solid #e5e5e5 !important;
  font-size: 14px !important;
  color: #292929 !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  height: auto !important;
  position: relative !important;
}

.contactform div.wpforms-container-full .wpforms-form ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactform
  div.wpforms-container-full
  .wpforms-form
  .wpforms-field-label-inline {
  position: relative;
  overflow: hidden;
  display: block;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 400;
}

.contactform div.wpforms-container-full .wpforms-form textarea {
  height: 150px !important;
}

.contactform div.wpforms-container-full .wpforms-form input:focus,
.contactform div.wpforms-container-full .wpforms-form textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  color: var(--form--color-text);
  outline-offset: 2px;
  outline: 2px dotted var(--form--border-color);
}

/* our group of companies */
section.our_group_sec {
  padding-top: 70px;
  margin-top: 0;
  padding-bottom: 85px;
}


.featuredprojects h3 {
    font-size: 30px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    margin-bottom: 30px;
    color: #292929;
}

@media screen and (max-width: 991px) {
    .featuredprojects h3 {
        font-size: 24px;
        margin-bottom: 15px;
    }
}

.featuredprojects p {
    font-size: 18px;
    line-height: 1.4;
    color: #292929;
}

@media screen and (max-width: 991px) {
    .featuredprojects p {
        font-size: 16px;
    }
}

.featuredprojects .owl-nav {
    text-align: left;
    position: absolute;
    bottom: 20px;
    left: -380px;
    border: none;
    padding: 0;
}

@media screen and (max-width: 991px) {
    .featuredprojects .owl-nav {
        bottom: -50px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.featuredprojects .owl-nav button::before {
    display: none;
}

.featuredprojects .owl-nav button.owl-next {
    margin-left: 10px;
}

.featuredprojects .owl-nav button svg {
    width: 34px;
    fill: #292929;
}

.lifestyleslider h3 {
    font-size: 55px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    margin-bottom: 30px;
    color: #292929;
}

.imagewrapershowtitle {
    position: relative;
    display: block;
    overflow: hidden;
}

.imagewrapershowtitle img {
    width: 100%;
}

.project-list figure img,
.imagewrapershowtitle,
.imagewrapershowtitle img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.imagewrapershowtitle:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.imagewrapershowtitle p {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    color: #ffffff !important;
    font-size: 24px;
    margin: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.imagewrapershowtitle:hover p {
    bottom: 0;
}

#fp .splide__arrows {
    position: absolute;
    bottom: 30px;
    left: -15%;
}

#fp1 .splide__arrows {
    position: absolute;
    bottom: 30px;
    right: -15%;
}

#fp .splide__arrows .splide__arrow--prev {
    left: -2em;
}

#fp1 .splide__arrows .splide__arrow--prev {
    left: -6em;
}

#fp .splide__arrows .splide__arrow--next {
    left: 2em;
}



.atsinfra h4 {
    font-size: 45px;
    font-weight: 300;

    position: relative;
    color: #116232;
    font-family: "Lato", sans-serif;
    padding-top: 15px;
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .atsinfra h4 {
        padding-left: 0;
        font-size: 24px;
    }
}

.atsinfra h4 span {
    font-size: 50px;
    font-weight: 300;

    display: inline-block;
}

@media screen and (max-width: 767px) {
    .atsinfra h4 span {
        position: relative;
        font-size: 26px;
    }
}

.atsinfra h5 {
    font-size: 32px;
    color: #292929;
    margin-top: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

.impactlist { 
  padding-left: 0px !important;
    border-top: 1px solid #d8d8d8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 30px;
}

@media screen and (max-width: 1199px) {
    .impactlist {
        margin-bottom: 0px;
        margin-top: 20px;
    }
}

.impactlist li {
    width: 50%;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 20px;
    color: #03878c;
    text-align: start;
}

@media screen and (max-width: 1199px) {
    .impactlist li {
        padding: 10px;
    }
}

.impactlist li span {
    font-size: 62px;
    display: inline-block;
    margin-bottom: 5px;
    min-width: 130px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #292929;
}

@media screen and (max-width: 1199px) {
    .impactlist li span {
        font-size: 24px;
    }
}

.impactlist li span .count {
    display: inline-block;
    min-width: auto;
}

.impactlist li span small {
    font-size: 16px;
    color: #4f4f4f;
    line-height: 1.4;
    display: block;
    text-transform: none;
}

.impactlist.aboutcounter {
    border: none;
    margin-top: 0;
}

.impactlist.aboutcounter li {
    width: calc(100% / 4);
}

@media screen and (max-width: 767px) {
    .impactlist.aboutcounter li {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .impactlist.aboutcounter li:last-child {
        margin-bottom: 0;
    }
}

.impactlist.aboutcounter li span {
    color: #ffffff;
}

@media screen and (max-width: 1199px) {
    .impactlist.aboutcounter li span {
        font-size: 50px;
    }
}

@media screen and (max-width: 767px) {
    .impactlist.aboutcounter li span {
        font-size: 42px;
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 250px;
    }
}

.impactlist.aboutcounter li span span {
    display: inline-block;
    width: auto;
}

.impactlist.aboutcounter li span small {
    color: #ffffff;
}

.consdrivenbox {
    position: relative;
    top: -75px;
    padding: 30px 20px;
    background-color: #116232;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 991px) {
    .consdrivenbox {
        top: 0;
        margin-top: 30px;
        margin-bottom: 40px;
    }
}

.consdrivenbox h3 {
    font-size: 38px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .atsinfra h5 {
    font-size: 24px;
  }
    .consdrivenbox h3 {
        font-size: 26px;
        margin-bottom: 15px;
    }
}

.consdrivenbox h3 span {
    display: block;
    font-size: 35px;
    font-weight: 300;
}

@media screen and (max-width: 767px) {
    .consdrivenbox h3 span {
        font-size: 22px;
    }
}


.clickbtn {
    padding: 10px;
    border: 1px solid #ffffff;
    display: inline-block;
    width: 175px;
    text-align: center;
    color: #ffffff;
    background: transparent;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    font-size: 12px;
}

.consdrivenbox p {
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    margin-bottom: 30px;
    width: 90%;
}